html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  min-height: 100%;
  overflow-x: clip;
  width: 100%;
}

.header {
  height: 80px;
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 2rem;
}
.header .header__nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}
.header .header__nav .header__nav__list {
  display: flex;
}
.header .header__nav .header__nav__list li:not(.active):hover {
  color: rgb(75, 85, 99);
}

.main {
  flex: 1;
  width: 100%;
  background: rgb(10, 10, 10);
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-auto-flow: column;
}

.flex-col {
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.border-md {
  border: solid 2px black;
}

.w-full {
  width: 100%;
}

.hero {
  position: relative;
}
.hero img {
  object-fit: contain;
  width: 100%;
}
.hero .hero-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5004202365) 6%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0.5004202365) 94%, rgb(0, 0, 0) 100%);
}
.hero .hero__content {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #fff;
}
.hero .hero__content h2 {
  font-size: 5em;
}
.hero .hero__content p {
  font-size: 1.5rem;
}

.media-carousels {
  transform: translateY(-14%);
  position: relative;
  width: 100%;
}
.media-carousels h3 {
  width: 100%;
  text-align: left;
  margin-left: 5rem;
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  padding: 1rem 2rem;
}
.media-carousels .carousel {
  display: flex;
  justify-content: center;
  overflow: clip;
}
.media-carousels .media-group {
  display: flex;
  flex-grow: 1;
  gap: 0.25rem;
  transform: translateX(0%);
  margin: 0 0 0 0.25rem;
  width: calc(100% - 10rem);
}
.media-carousels .media-group img {
  flex: 0 0 25%;
  max-width: calc((100% - 1rem) / 4);
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 4px;
}

.btns {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.btn {
  display: flex;
  justify-content: center;
  min-width: 125px;
  min-height: 65px;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  padding: 0.5rem 2rem;
  border: none;
  cursor: pointer;
  font-size: 1.75em;
}

.btn-alt {
  background-color: rgba(75, 85, 99, 0.75);
  color: #fff;
}

.btn-icon {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 2em;
}

.slider-btn {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  background: rgba(75, 85, 99, 0.5);
  color: #fff;
  font-size: 5rem;
  border-radius: 4px;
  width: 2.5rem;
}

.slider-btn__left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.slider-btn__right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.btn:hover {
  background-color: rgba(75, 85, 99, 0.5);
}

/*# sourceMappingURL=application.css.map */
